$banner_image: "~@/assets/images/banner-bg.jpeg";

.home-banner {
  width: 100%;
  height: 420px;
  background-image: url($banner_image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  .banner-text {
    h1 {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    p {
      display: block;
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 20px;
      width: 470px;
      font-family: serif;

    }

    .banner-text-buttons {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      button {
        margin: 10px 10px 10px 0px;
      }
    }
  }
}

.comics-wrapper {
  margin: 0 30px;
  margin-top: 20px;

  .comic-list-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  .comics-container {
    overflow: auto;
    white-space: nowrap;
    overflow-x: auto;

    .comic-card {
      width: 175px;
      height: 250px;
      display: inline-block;
      margin: 10px;
      position: relative;
      cursor: pointer;

      .comic-title {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        position: absolute;
        bottom: 5px;
        font-size: 14px;
      }

      .comic-add-fav {
        position: absolute;
        top: 5px;
        right: 5px;
        color: #ffffff;
        cursor: pointer;
      }

      .fav-active {
        color: #C02B31;
      }

      .comic-add-fav:hover .material-design-icon__svg {
        width: 33px;
        height: 33px;
        transition: all 0.3s;
      }
    }

    .comic-card:hover {
      transform: scale(1.04);
      transition: transform 0.4s ease-in-out;
    }

    .comic-card:hover .comic-add-fav {
      color: #C02B31;
    }
  }
}
